<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- TodoDao와 매핑 -->
<mapper namespace="com.ldh.todolist.dao.TodoDao">

	<!-- 할 일 작성(insert 메소드)  -->
	<insert id="insert" parameterType="com.ldh.todolist.dto.TodoDto">
	INSERT INTO todo (todo_title, todo_content, todo_completed, users_no, category_no)
	VALUES (#{todoTitle}, #{todoContent}, #{todoCompleted}, #{usersNo}, #{categoryNo})
	</insert>
	
	<!-- 할 일 수정(update 메소드)  -->
	<update id="update" parameterType="com.ldh.todolist.dto.TodoDto">
	UPDATE todo 
	SET todo_title = #{todoTitle},
	todo_content = #{todoContent},
	todo_completed = #{todoCompleted},
	category_no = #{categoryNo}	
	WHERE todo_no = #{todoNo} 
	</update>
	
	<!-- 할 일 삭제(delete 메소드)  -->
	<delete id="delete" parameterType="int">
	DELETE FROM todo
	WHERE todo_no = #{todoNo} 
	</delete>
	
	<!-- 할 일 조회(findById 메소드)  -->
	<select id="findById" parameterType="int" resultType="com.ldh.todolist.dto.TodoDto">
	SELECT todo_no, todo_title, todo_content, todo_completed, todo_created_at, users_no, category_no
	FROM todo
	WHERE todo_no = #{todoNo} 
	</select>
	
	<!-- 할 일 목록 조회(findByUsersNo 메소드)  -->
	<select id="findByUsersNo" parameterType="int" resultType="com.ldh.todolist.dto.TodoDto">
	SELECT todo_no, todo_title, todo_content, todo_completed, todo_created_at, users_no, category_no
	FROM todo
	WHERE users_no = #{usersNo}
	ORDER BY todo_created_at DESC
	</select>
	
	
</mapper>
